* { /* RESET */
    box-sizing: border-box; /*determina che i margini ed i padding mantengano la altezza e lunghezza da noi impostata (al contenitore) */
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.header-middle {
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    vertical-align: middle;
}

.h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 40px;
}

/* Main */

body{
    background-color: #F6F8F9;
}

main{
    margin: 0 auto;
    background-color: #FFFFFF;   
    border-radius: 1%;
    width: 750px;
    height: 550px;
}

section{
    padding: 15px 0 10px 50px;
}


/* Buttons */

.btn{
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    border-color: transparent;
    border-radius: 10px;
}

.bn1{
    border-radius: 5px;
    background-color: #14AAF5;
}

.bn2{
    border: 1px solid #C4CBD0;
    border-radius: 5px;
    background-color: #FFFFFF ;
    color: #C4CBD0;
}

hr{
    border: 1px solid #F6F8F9;
}



.s2{
    color: #434851;
}



.strong{
    display: block;
    
    font-weight: 900;
    font-size: 18px;
    margin: 30px 0 10px 0;
}

.div{
    display: inline-block;
    width: 17px;
    height: 17px;
    color: #00FF00;
    font-size: x-small;
    text-align: center;
    margin: 0 5px 20px 2px;
    border-radius: 100%;
    border: 1px solid #00FF00;
}

.cross {
    color: #FF0000;
    border-color: #FF0000;
}

.a {
    font-weight: 450;
    font-size: 18px;
    vertical-align: baseline;
}

.blue {
    background-color: #14AAF5;
}

.green {
    background-color: #2CC6AB;
}

.green_lime {
    background-color: #A3D116;
}

.orange {
    background-color: #FF9B00;
}

.pink {
    background-color: #EC4A9D;
}

.purple {
    background-color: #ab5de6;
}